# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Dependencies
node_modules/

# Build output
dist/
build/

# IDE/Editor files
.idea/
.vscode/
*.code-workspace

# Miscellaneous
.DS_Store
Thumbs.db